**/*.env
**/*.jpg
**/*.jpeg
**/*.png
**/*.webp
**/supabaseClient.mjs
**/keys.mjs
**/mailer.mjs
**/node_modules
**/serviceAccountKey.json
**/firebaseAdmin.mjs
**/database.mjs
**/package-lock.json
**/package.json
**/DS_Store
package.json