<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>

    <% if (userData) { %>

          <%- include("../partials/sidebar") %>

            <main class="ml-64 p-6">
        <h1 class="text-xl font-bold">Bienvenido <%=userData.nombre%>
        </h1>
        <%if(userData.admin) { %>
            <h1 class="text-xl font-bold">Eres admin</h1>
            <%}%>
                <br>
                <a href="/perfil"
                    class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 transition font-medium">
                    Ir a perfil
                </a>

            </main>

                <%}else{%>

 <div
                class="w-full max-w-lg mx-auto mt-16 bg-white shadow-lg rounded-xl p-8 text-center border border-gray-200">
                <h2 class="text-2xl font-bold text-gray-800 mb-3">
                    ¡Ups! Parece que no estás logueado
                </h2>

                <p class="text-gray-600 mb-6">
                    Para acceder a esta sección necesitas iniciar sesión.
                    No te preocupes, te llevamos de vuelta a la página principal.
                </p>

                <a href="/"
                    class="inline-block bg-blue-600 text-white font-semibold px-6 py-3 rounded-lg shadow-md hover:bg-blue-700 transition">
                    Volver al inicio
                </a>
            </div>
                    <%}%>

</body>

</html>