<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>

    <% if (userData) { %>
        <h1 class="text-xl font-bold">Bienvenido <%=userData.nombre%>
        </h1>
        <%if(userData.admin) { %>
            <h1 class="text-xl font-bold">Eres admin</h1>
            <%}%>
                <br>
                <a href="/perfil"
                    class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 transition font-medium">
                    Ir a perfil
                </a>

                <%}else{%>

                    <h1>No estas logueado</h1>

                    <%}%>

</body>

</html>