<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Te has logueado</h1>


<form action="/usuarios/nombre" method="post">
  <input type="text" name="name" placeholder="Nuevo nombre">
  <button type="submit">Actualizar</button>
</form>

<script>

</script>

    

</body>
</html>