<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="banner-container">
            <a href="URL_DESTINO">
                <img src="imagen-banner.webp" alt="Descripción de la promoción" class="banner-image">
            </a>
        </div>
        <!-- CSS DE 👆🏼:
         .banner-container {
                width: 100%;
                text-align: center;
                margin: 20px 0;
            }
            .banner-image {
                max-width: 100%;
                height: auto;
            }
            -->

        <header>
            <div class="brandContainer">
                <img src="" alt="webLogo">
                <h1>PAWLINK</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Adopciones</a></li>
                    <li><a href="">Procesos</a></li>
                    <li><a href="">Perfil</a></li>
                    <li><a href="">Contáctanos</a></li>
                </ul>
            </nav>
            <div class="profileAccess">
                <img src="" alt="profileImg">
                <!-- <p>Nombre del usuario</p> -->
                <p>X</p>
                <!-- <i>FLECHA HACIA DERECHA(indica acceso a perfil)</i> -->
                <i>X</i>
            </div>
        </header>
    </main>
</body>
</html>